body {
  font-family: montserrat;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

h1,
label {
  color: #444;
}

.container {
  background-color: #e5f9f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: white;
  padding: 1em;
  border: none;
  border-radius: 1em;
  width: 500px;
  box-shadow: 0 0 1em gray;
}

.form-element h1 {
  text-align: center;
  margin-bottom: 10px;
}

.text-field input,
.text-field-error input,
textarea {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1.6px solid silver;
}
.form-element {
  position: relative;
  margin: 2em 0;
}

.text-field label,
.text-field-error label {
  position: absolute;
  color: gray;
  top: -4px;
  padding: 0;
  pointer-events: none;
  font-size: 1em;
  transition: 0.3s;
}

.text-field input:focus + label,
.text-field textarea:focus + label,
.text-field input:valid + label,
.text-field textarea:valid + label {
  color: #00d09b;
  transform: translateY(-1em);
  background-color: white;
  font-size: 0.8em;
}

.text-field-error input:invalid + label,
.text-field-error textarea:invalid + label {
  color: #eb5a3c;
  transform: translateY(-1em);
  background-color: white;
  font-size: 0.8em;
}

.text-field input:focus,
.text-field textarea:focus {
  padding: 5px;
  outline: 2px solid #00d09b;
}

.text-field-error input:focus + label,
.text-field-error textarea:focus + label,
.text-field-error input:valid + label,
.text-field-error textarea:valid + label {
  color: #eb5a3c;
  transform: translateY(-1em);
  background-color: white;
  font-size: 0.8em;
}

.text-field-error input,
.text-field-error textarea {
  padding: 5px;
  outline: 2px solid #eb5a3c;
}

.form-element input[type="radio"]:checked + label {
  color: #00d09b;
}

.btn-flex {
  display: flex;
  justify-content: space-around;
}

.error {
  padding-top: 2px;
  padding-left: 4px;
  display: block;
  color: #eb5a3c;
  font-size: 0.8em;
}
.btn {
  font-size: 1em;
  font-weight: 600;
  background-color: #00d09b;
  color: white;
  border: none;
  padding: 0.5em 2.5em;
  border-radius: 20px;
  letter-spacing: 1px;
  cursor: pointer;
}

#spouse-div {
  display: none;
}
